<mtapp:setting
    id="username"
    label="<__trans phrase="Username">">
<input type="text" name="ld_username" size="20" value="<TMPL_VAR NAME=LD_USERNAME ESCAPE=HTML>" />
</mtapp:setting>

<mtapp:setting
    id="password"
    label="<__trans phrase="Password">">
<input type="password" name="ld_password" size="20" value="<TMPL_VAR NAME=LD_PASSWORD ESCAPE=HTML>" />
</mtapp:setting>
